@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-spinner {
  width: 3rem;
  height: 3rem;
  background: transparent !important;
  border-radius: 100%;
  border: 5px solid hwb(0 61% 39% / 0.616);
  border-bottom-color: transparent !important;
  display: inline-block;
  animation: loading 0.7s 0s infinite linear;
}
